.header-con{
    background-color:rgb(51, 41, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    z-index: 100;
}
.header-con .nav ul{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.header-con .nav ul li {
    list-style-type: none;
    padding: 10px;
}
.header-con .nav ul li a{
    text-decoration: none;
    color:aqua;
}
.header-con .nav ul li a:hover{
    color: seashell;
    cursor: pointer;
}

@media screen and (max-width:1110px){
    .header-con .nav ul li a{
        text-decoration: none;
        color:aqua;
    }
}

    @media screen and (max-width:910px){
        
    }
    
    @media screen and (max-width:810px){
       
    }
    
    @media screen and (max-width: 375px){
       
    }