.header-con{
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    z-index: 100;
}
.header-con .nav ul{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.header-con .nav ul li {
    list-style-type: none;
    padding: 10px;
}
.header-con .nav ul li a{
    text-decoration: none;
color: black;
}
.header-con .nav ul li a:hover{
    color:orangered;
    cursor: pointer;
}

@media screen and (max-width:1110px){
    .header-con .nav ul li a{
        text-decoration: none;
    }
}

    @media screen and (max-width:910px){
        
    }
    
    @media screen and (max-width:810px){
       
    }
    
    @media screen and (max-width: 375px){
       
    }
    /* Small phones */
@media (max-width: 360px) {}

/* Standard Android phones */
@media (max-width: 412px) {}

/* Large phones / small tablets */
@media (max-width: 480px) {}