#contact{
    padding: 20px;
    background-color: black;
}
#contact h1{
    margin-left: 30px;    
    color: white;
    text-align: center;
}
.contact-icon{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.contact-icon .item{
    margin: 10px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:orangered;
    color:white;
    border-radius: 100px;
}
.contact-icon .item:hover{
    background-color:rgb(218, 67, 12);
    transition:ease-in-out 0.3s;
    transform: scale(1.1);
}
.contact-icon .item .icons{
    font-size: 2rem;
} 