#contact{
    padding: 20px;
    background-color: rgb(235, 185, 218);
}
#contact h3{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color:rgb(128, 5, 87);
    font-weight: 700;
    letter-spacing: 1px;
}
.contact-icon{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.contact-icon .item{
    margin: 10px;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(7, 91, 124);
    color:white;
    border-radius: 100px;
}
.contact-icon .item:hover{
    background-color:rgb(7, 91, 124);
    transition:ease-in-out 0.3s;
    transform: scale(1.1);
}
.contact-icon .item .icons{
    font-size:190px;
} 