* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    overflow-x: hidden;
  }
    .about-container {
    width: 100%;
    background-color: #ffffff;
    padding: 50px 20px;
  }
    .about-container h1 {
    text-align: center;
    color: rgb(138, 19, 98);
    margin-bottom: 40px;
  }
    .inner {
    max-width: 1200px;
    margin: auto;
  }
     .about-information {
    margin-bottom: 40px;
  }
    .about-information p {
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    margin-bottom: 15px;
  }
  .educaionDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
  }
  .eduation {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 260px;
    height: 260px;
    background-color: rgb(74, 6, 83);
    align-items: center;
    text-align: center;
    padding: 20px;
     border-radius: 10px;
  }
  
  .educationHead {
      color: white;
    justify-content: center;
    align-items: center;
    background-color: #b90875;
  }
   .coursename {
    text-align: center;
    font-size: 16px;
    color: #ecd2d2;
    margin-top: 20px;
  }
   .keyHighlight {
    max-width: 500px;
    width: 100%;
    background-color: rgb(250, 242, 176);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
  }
  
  .keyHighlight h3 {
    color: rgb(235, 73, 15);
    margin-bottom: 15px;
  }
  
  .keyHighlight ul {
    padding: 0;
  }
  
  .keyHighlight li {
    list-style: none;
    font-size: 18px;
    line-height: 32px;
  }
  
  /* Tablets */
  @media (max-width: 992px) {
    .about-information p {
      font-size: 17px;
    }
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .about-information p {
      font-size: 16px;
      line-height: 28px;
    }
    .keyHighlight {
      border-radius: 20px;
    }
  }
  
  /* Small Phones */
  @media (max-width: 480px) { 
    .keyHighlight li {
      font-size: 16px;
    }
  }
  