.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:url("https://wallpapercave.com/wp/wp5057641.jpg");
}
@media screen and (max-width:1110px){
    .col{
     margin: 10px;
    }
 }
 
     @media screen and (max-width:910px){
         
     }
     
     @media screen and (max-width:810px){
        
     }
     
     @media screen and (max-width: 375px){
        
     }