/* .home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
@media screen and (max-width:1110px){
    .col{
     margin: 10px;
    }
 }
 
     @media screen and (max-width:910px){
         
     }
     
     @media screen and (max-width:810px){
        
     }
     
     @media screen and (max-width: 375px){
        
        .home-container{
            width: 100%;
        }
     } */