.projects{
    margin: 20px;
    padding: 20px;
}
 .projects h1{
    color: teal;
    text-align: center;
 }

 h5{
    text-align: center;
}
p{
    text-align: center;
    font-weight: 100;
}
.container2{
margin-left: 50px;
margin-right: 50px;
padding: 20px;
}
/* .container2 .card{
    width: 290px;
    margin: auto;
} */
.row{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.card{
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    height: 330px;
    border: 1px solid orange;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}
p{
    text-align: center;
    font-size: 18px;
}
h5{
    color:rgb(182, 121, 7);
    text-align: center;
    } 
   
@media screen and (max-width:1110px){
   
    .row{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 25px;
        justify-content: center;
        padding: 20px;
    }
   }

    @media screen and (max-width:910px){
        
    }
    
    @media screen and (max-width:810px){
       
    }
    
    @media screen and (max-width: 375px){
        
        .row{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
            justify-content: center;
        }
    } 