.skills {
    color: white;
    margin-top: 30px;
}

.skills .items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skills .items .item {
    width: 200px;
    margin: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #333;
}
.skills h1{
    text-align: center;
    color: orange;
    text-transform: uppercase;
}

.skills .items .item img {
    width: 70%;
    height: 60%;
}
.skills h3{
    margin-top: 14px;
}


@media screen and (max-width:1110px) {
    .skills .items .item {
        width: 200px;
        margin: 30px;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        border: 2px solid #333;
    }
}

@media screen and (max-width:910px) {}

@media screen and (max-width:810px) {}

@media screen and (max-width: 375px) {}